@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
img {
    width: 200px;
    border-radius: 28px;
}
body {
    background-color:antiquewhite;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.bg-yellow {
    background-color: lightcyan;
}
.bg-red {
    background-color: #ffb6c1;
}
.card {
    border-radius: 28px;
    margin: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 750;
}